# Данные (базы и выгрузки)

data/
.DS_Store
*.db
*.csv

config/settings.yaml
settings.yaml

# Виртуальное окружение и кэш
.venv/
__pycache__/
*.py[cod]
*.pyc

# Логи обучения CatBoost (в корне и в репортах)
catboost_info/
reports/catboost_info/

# Большие бинарные файлы моделей (не пушим веса на гитхаб)
*.cbm
*.pkl

# Мусор операционных систем и IDE
.DS_Store
.vscode/
.ipynb_checkpoints/

# Docker
.env